:root{
    --button-background-color: #061437;
    --background-color-formulario: #ffffffbd;
    --fuente-color-oscuro: #061437;
    --background-color-oscuro: #040e27;
    --background-color-oscuro-hero: #040e2793;
    --fuente-color: #fb7400;
    --background-testimonials: #f8f9fb;
    --fuente-color-claro-footer: #63b0b2;
    --background-about-us: #ececec;
    --background--color--aboutUs-1: #e6e6e6;
}

*{
    scroll-behavior: smooth;
}


.header__form, .welcome, .aboutUs, .testimonials{
    height: 100vh;
}
.ourProjetcs, .socialMedia{
    height: 55vh;
}

.footer__contact{
    height: 40vh;
}
.footer__final{
    height: 30vh;
}
.header__container{
    padding: 20px 0 15px 0 ;
}

.header__form--container, .welcome__container, .aboutUs__container{
    transform: translate(0px, 120px);
}

.ourProjetcs__container,.testimonials__container{
    transform: translate(0px, 20px);
}

.socialMedia__container{
    transform: translate(0px, 100px);
}
.footer__contact--container{
    transform: translate(0px, 25px);
}
.footer__final--container{
    transform: translate(0px, 25px);
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

/*COLORES*/

.header{
    background-color: #0d182e;
}
.header__container div h4 {
    color: var(--fuente-color)
}
.header__container div p{
    color: #fff
}
.header__container--3 div:nth-child(2){
    color: #fff;
    font-size: 165%;
}
.header__container--4 div:nth-child(1){
    display: flex;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
.header__container--4 div h4{
    margin: 0 15px 0 0;
}
.header__container--4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.header__nav--bar nav div ul li a{
    color:#fb7400;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.header__nav--bar nav div ul li{
    margin: 0px 10px 0px 10px;
}
.header__form{
    background-color: var(--background-color-oscuro-hero);
    background-position: center;
    background-size: cover;
}

.header__form--container div h1, h4{
    color: #fff
}
.header__form--container div h4{
    color: #fff
}

.header__form--container--texto--presentacion{
    margin: 35px 0 0 0;
}
.formulario{
    background-color: var(--background-color-formulario);
    padding: 20px 10px 20px 10px;
}
.formulario input, .formulario select, .formulario textarea{ 
    background-color: transparent;
}

.formulario h2{
    color:var(--button-background-color)
}
.header__form, .welcome, .aboutUs, .ourProjetcs, .testimonials, .socialMedia, .footer__contact{
    font-family: 'Readex Pro';
}
.formulario{
    padding: 50px 15px 50px 15px;
}

.formulario div input{
    border: unset;
    border-bottom: 1px solid gray;
    border-radius: unset;
}
.formulario div select{
    border: unset;
    border-bottom: 1px solid gray;
    border-radius: unset;
}
.formulario div textarea{
    border: unset;
    border-bottom: 1px solid gray;
    border-radius: unset;
    resize: unset;
}
.formulario div input:focus{
    border: 1px solid red ;
}
.formulario--boton--send{
    background-color: var(--button-background-color);
    color: #fff;
    font-weight: 800;
}
.welcome{
    background-color: whitesmoke;
}
.welcome__container div h6{
    color: var(--fuente-color)
}
.welcome__container div h1{
    color:var(--fuente-color-oscuro)
}

.welcome__container--longCopy{
    font-size: 110%;
    font-weight: 600;
}

.aboutUs{
    background-color: var(--background-about-us);
}
.aboutUs__container--firstChild h6, .aboutUs__container--secondaryChild h6{
    color: var(--fuente-color);
}

.aboutUs__container--firstChild h1, .aboutUs__container--secondaryChild h1{
    color: var(--fuente-color-oscuro);
}
.aboutUs__container--firstChild p:nth-child(3){
    color: var(--fuente-color-oscuro);
    font-weight: 600;
}
/* .aboutUs__container--buttons button{
    background-color: var(--fuente-color);
} */
.aboutUs__container--button{
    display: flex;
    justify-content: center;
}
.aboutUs__container--longCopy{
    border-radius: 10px;
    background: #e6e6e6;
    box-shadow:  -5px -5px 15px #b3b3b3,
             5px 5px 15px #ffffff;

             margin: 25px 0 25px 0;
             padding: 0 20px 0 20px;         
}
.aboutUs__container--longCopy p {
    padding: 25px;
}

.about__cards--1 div:nth-child(1), .about__cards--2 div:nth-child(1), .about__cards--3 div:nth-child(1){
    
    margin: 0 30px 0 0;
}
.about__cards--1{
    background-color: var(--background--color--aboutUs-1);
    font-size: 90%;
}
.about__cards--2{
    background-color: var(--fuente-color);
    color: #fff;
    font-size: 90%;
}
.about__cards--3{
    background-color: var(--button-background-color);
    color: #fff;
    font-size: 90%;
}

.ourProjetcs__container div:nth-child(1) p{
    color: var(--fuente-color); 
    font-weight: 500;  
}

.ourProjetcs__container div:nth-child(1) h1{
    color: #fff;
}
 .ourProjetcs{
     /* background-color: var(--button-background-color); */
     background-color: #1e263b;
 }

 .ourProjetcs__container--gallery div{
     margin: 1px;
 }

 .ourProjetcs__container--button{
    margin: 30px 0 0 0;
    
}
.ourProjetcs__container--button button{
    background-color: #09132c;
    color: #fff;
}
.testimonials{
    background-color: var(--background-testimonials);
    color: #fff;
}
.testimonials__container{
    background: linear-gradient(to right bottom, #061437bb, #040e2793), url("resources/img/bg_1.jpg") ;
    background-size: cover;

}

.testimonials__container div:nth-child(1) {
    text-align: center;
}
.testimonials__container .row{
    height: 75vh;
}
.testimonials__container--first-child, .testimonials__container--second-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socialMedia{
    background-color: #fff
}

.socialMedia__container--icons div ion-icon{
    /* font-size: 80px; */
    color: var(--fuente-color-oscuro);
}

.socialMedia__container div:nth-child(1) h6{
    color: var(--fuente-color);
}

.socialMedia__container div:nth-child(1) h1{
    color: var(--fuente-color-oscuro);
}

.socialMedia__container--newsletter{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 50px 0 0 0;
    padding: 20px 0 20px 0;
    background-color: var(--fuente-color);
    border-radius: 5px;
}
.socialMedia__container--newsletter{
    color: #fff;
}
.socialMedia__container--newsletter--email{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}
.socialMedia__container--newsletter--email input{
    border-radius: 3px;
    border: unset;
}
.socialMedia__container--newsletter--email button{
    color: #fff;
    font-weight: 100;
    font-size: 90%;
}

.footer__contact{
    background-color: var(--button-background-color);
}
.footer__contact--container div ul li{
    color: #fff;
    list-style: none;
    transition: all .2s;
}
.footer__contact--container div ul li:hover{
    text-decoration: underline solid var(--fuente-color) 2px;
    cursor: pointer;
}
.footer__contact--container div ul h4{
    color: var(--fuente-color);
}

.footer__contact--container div ul{
    line-height: 2;
}
.footer__contact--container__socialMedia{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}
.footer__contact--container__socialMedia li{
    border: 1px solid #fff;
    padding: 8px;
    margin: 0 5px 0 0;
}   

.footer__final{
    background-color: var(--background-color-oscuro);
}
.footer__final--container div p{
    color: #fff;
    text-align: center;
}
.footer__final--container div p span{
    color: var(--fuente-color);
}
.footer__final--container div p a{
    color: var(--fuente-color-claro-footer);
}
.upper{
    text-transform: uppercase;
}
/* .hero{
    height: 100vh;
} */
.formulario{
    padding: 10px;
}
.d-flex{
    align-items: center;
    justify-content: space-between;
}

.about__cards{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
/* ion-icon {
    font-size: 14px;
} */
.footer  ul li{
    list-style: none;
}

/*MEDIA QUERYS*/

 /* Extra small devices (portrait phones, less than 576px) */



 @media (max-width: 575.98px) { 
    #background-video {
       display: none;
      }

    .header__form{
        height: 200vh;
    }
    .header__nav--bar--brand{
        background-color: var(--button-background-color);
    }
    .header__nav--bar--list ul li:hover{
        border-bottom: 1px solid red;
    }

    .header__container--row div{
        text-align: center;
    }

    .welcome{
        height: 200vh;
        position: relative;
        
    }
    .welcome__container--row div:nth-child(1) img{
        width: 100%;
        height: 100%;
    }
    .welcome__container--row div:nth-child(2) img{
        width: 100%;
        height: 100%;
    }
    .welcome__container--longCopy{
        text-align: left;
    }
    .aboutUs{
        height: 300vh;
        padding: 50px 0 50px 0;
    }
    .aboutUs__container--buttons button:nth-child(3){
        margin: 20px 0 0 0;
    }
    .aboutUs__container--secondaryChild{
        margin: 20px 0 0 0;
    }
    .aboutUs__container--button{
        text-align: left;
    }
    .aboutUs__container--secondaryChild div h1 {
        font-size: 180%;
    }
    .aboutUs__container--secondaryChild div h6{
        font-size: 100%;
    }
    .aboutUs__container--longCopy p{
        padding: 25px 0 25px 0;
    }

    .ourProjetcs{
        height: 165vh;
    }
    .testimonials__container {
        height: 85vh;
    }
    .testimonials__container--first-child h1{
        font-size: 130%;
    }
    .testimonials__container--first-child h1{
        font-weight: 600;
    }
    .testimonials__container--second-child video{
        width: 200px;
        height: 200px;
    }
    .testimonials__container--second-child--button{
        background-color: var(--fuente-color);
    }
    .socialMedia{
        height: 80vh;
    }
    .socialMedia__container--icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .socialMedia__container--icons div ion-icon {
        font-size: 100%;
    }
    .socialMedia__container--newsletter h3{
        font-size: 100%;
    }
    .socialMedia__container--newsletter input{
        width: 100%;
    }
    .socialMedia__container--newsletter--email .desktop {
        display: none;
    
    }
    .footer__contact{
        height: 120vh;
    }
    .footer__contact--container__socialMedia {
        justify-content: space-between;
    }
    .footer__contact--container__socialMedia div ul{
        text-align: left;
    }
    .footer__final{
        height: 35vh;
    }
    .footer__final--container div div{
        text-align: center;
    }
}
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    
    .header__nav--bar--brand{
        background-color: var(--button-background-color);
    }
    .header__nav--bar--list ul li{
        transition: all .3s;
    }
    .header__nav--bar--list ul li:hover{
        border-bottom: 2px solid var(--fuente-color);
    }

    .header__container--4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
 }

 
 
 
 
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    
    .header__nav--bar--brand{
        background-color: var(--button-background-color);
    }
    .header__nav--bar--list ul li{
        transition: all .3s;
    }
    .header__nav--bar--list ul li:hover{
        border-bottom: 2px solid var(--fuente-color);
    }
    
    .welcome__container div img{
        width: 200px;
        height: 200px;
    }
    .header__container--4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .welcome{
        height: 180vh;
    }
    .aboutUs{
        height: 150vh;
    }
    .ourProjetcs{
        height: 100vh;
    }
    /* .testimonials{
        height: 100vh;
    } */
    .testimonials__container{
        height: 100vh;
    }
    .testimonials__container .row {
        padding: 80px 0 0 0;
    }
    .socialMedia{
        height: 100vh;
    }
    .socialMedia__container--icons{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .socialMedia__container--icons div ion-icon{
        font-size: 320%;
    }
    .footer__contact{
        height: 60vh;
    }
    .footer__final{
        height: 30vh;
    }
    .footer__final--container div div{
        text-align: center;
    }
 }

 
 
 
 
 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1499.98px) { 
    
    .header__nav--bar--brand{
        background-color: var(--button-background-color);
    }
    .header__nav--bar--list ul li{
        transition: all .3s;
    }
    .header__nav--bar--list ul li:hover{
        border-bottom: 2px solid var(--fuente-color);
    }
    .header__container--row div p{
        font-size: 90%;
    }
    .header__container--row div h4{
        font-size: 130%;
    }
    
    .welcome {
        height: 120vh;
    }
    .welcome__container--row div img{
        height: 200;
        width: 100;
    }
    
    .welcome__container--row div:nth-child(1) img {
        width: 300px;
        height: 400px;
    }

    .welcome__container--row div:nth-child(2) img {
        width: 100px;
        height: 100px;
    }
    .welcome__container--longCopy--img {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .aboutUs{
        height: 120vh;
    }

    .aboutUs__container--buttons button:nth-child(1) {
        background-color: var(--fuente-color);
    }

    .ourProjetcs{
        height: 70vh;
    }
    .testimonials__container{
        padding: 20px 0 20px 0;
    }
    .testimonials__container {
        transform: translate(0px, 50px);
    }
    .testimonials__container--first-child h1{
        font-weight: 600;
    }
    .testimonials__container--second-child video{
        width: 250px;
        height: 250px;
    }
    .socialMedia{
        height: 100vh;
    }
    .testimonials__container--second-child--button{
        background-color: var(--fuente-color);
    }

    .socialMedia__container--icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .socialMedia__container--icons div ion-icon {
        font-size: 350%;
    }
    
    .socialMedia__container--newsletter--email .mobile{
        display: none;
    }
    .socialMedia__container--newsletter--email input{
        font-size: 80%;
    }
    .socialMedia__container--newsletter h3{
        font-size: 120%;
        margin: unset;
    }
    .socialMedia__container--newsletter{
        align-items: center;
    }
    .footer__final{
        height: 30vh;
    }
    .footer__final--container div div{
        text-align: center;
    }
    .footer__contact--container div{
        font-size: 90%;
    }
    .footer__final--container div div{
        font-size: 80%;
        line-height: 1;    }
}
